In [2]:

import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import warnings

warnings.filterwarnings('ignore')
df = pd.read_csv("reviews.csv");
##df.isna().sum()
##df.duplicated()

X = df.drop(columns=['Name','Overall_Rating','Cuisine','Rate for two','City','Review'])
y = df.drop(columns=['Index','Name','Cuisine','Rate for two'])

Restaurant = input("Enter Restaurant Name")
ind = df[df['Name'] == Restaurant].index

model = DecisionTreeClassifier()
model.fit(X,y)
arr=ind.tolist()
new_city=''
new_rating = 0.0;

if(len(arr)==0):
    print("Enter Correct Restaurant Name")

else:
    for i in arr:
        prediction = model.predict([[i]])
        new_city=prediction[0][1]
        new_rating=prediction[0][0]
        # print(prediction)


# print(city)
# print(new_rating)
low=0
if(float(new_rating))>0:
    low=float(new_rating)-float(0.5)
    
high=float(new_rating)+float(0.5)

# X1 = df.drop(columns=['Name','Cuisine','Rate for two','Review'])
y1 = df.drop(columns=['Index','Rate for two'])

index1 = df[df['City'] == new_city].index
model.fit(X,y1)

def is_float(element: any) -> bool:
    #If you expect None to be passed:
    if element is None: 
        return False
    try:
        float(element)
        return True
    except ValueError:
        return False


print("Similar Restaurants are also available ")
arr1=index1.tolist()
dict = {
	'Name': [],
	'Ratings': [],
	'Cusines': [],
    'Reviews':[]
};

for i in arr1:
     predictions = model.predict([[i]])
     if(is_float(predictions[0][1]) and float(predictions[0][1])>low and float(predictions[0][1])<high):
         dict['Name'].append(predictions[0][0]);
         dict['Ratings'].append(predictions[0][1]);
         dict['Cusines'].append(predictions[0][2]);
         dict['Reviews'].append(predictions[0][4]);
         # print(predictions)


Transformed=pd.DataFrame(dict)
New_Transformed=Transformed.drop_duplicates(subset="Name")
New_Transformed

Enter Restaurant Name Crush Coffee

Similar Restaurants are also available

,Name,Ratings,Cusines,Reviews
0,Crush Coffee,3,"Cafe, Shake, Beverages, Desserts",Very watery ans thin shake
1,Fyro,3,"Cafe, Coffee, Shake, Beverages","Worst service, the staff doesn’t hear your ord..."
2,Oven The Bakery & Cafe,3.4,"Cafe, Bakery, Waffle, Desserts, Beverages","Extreme oily, Veg puff was not at all fresh."
5,Brewer Cafe & Restro,3.1,"Cafe, Pizza, Burger, Sandwich, Fast Food, Dess...",due to unavailability my order was replaced to...
8,Cafe Catchers,3.3,"Cafe, Shake, Beverages, Chinese, Italian, Mexi...",Won’t order from here again . Regret
12,Shambhu's Coffee Bar,3.3,"Cafe, Shake, Beverages, Sandwich, Pizza, Fast ...",I went here for the second time with my husban...